<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About page</h1>
    <a href="{% url 'home'%}">Home</a>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quaerat voluptatem corrupti sequi! Maiores sit ea non amet ab sed qui similique. Aliquam quo, ea est laborum consectetur voluptas! At.
        Odio recusandae nobis fugiat molestiae. Itaque dolorum corrupti laboriosam quas maxime incidunt doloribus pariatur nulla? Ex eligendi, eaque numquam vitae fugit odio, rem corrupti consectetur voluptatibus alias officia ullam sequi.
        Doloribus, sit? Quia magnam laudantium sit nulla, obcaecati et impedit porro repellat assumenda, veniam autem, fugiat iusto tenetur asperiores voluptate ducimus! Recusandae alias commodi ad, optio nihil molestias ipsa obcaecati?
        Corporis architecto ipsum doloribus sunt eos officiis animi aut voluptas quia recusandae tempore exercitationem, nobis id voluptatem quas cupiditate impedit unde? Necessitatibus ullam deleniti minus quas voluptates ipsam maiores porro!
        Quaerat officia deserunt velit maxime voluptas dolor aliquid, ea vitae minima provident doloremque consequatur illum atque quasi perferendis assumenda dolorum impedit eligendi. Nam, dolor? Voluptatum dolor iste atque mollitia veritatis?
    </p>
</body>
</html>