<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Count Page</h1>
    <a href="{% url 'home' %}">Start Again</a>
    <br>

    <h2>There are {{count}} words in your text</h2>

    {{fulltext}}

    <h1>Word Count:</h1>

    <p>
    {% for word, countTotal in sortedWords %}
   
        {{word}} - {{countTotal}}
    </p>
    <br>

    {% endfor %}
</body>
</html>