<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is HTML</h1>
    <h2>Word Count</h2>
    <!-- <p>{{hiThere}}</p> -->

    <div>
        <form action="{% url 'count' %}"">
            <textarea name="fulltext" id="words" cols="40" rows="5"></textarea>
            <br>
            <input type="submit" value="Count!">
        </form>
        <form action="{% url 'about'%}">
            <input type="submit" value="About">
        </form>
    </div>
    
</body>
</html>

